<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button matTooltip="home" routerLink="/home" id="homeButton">
            Book Store
        </button>
        <span class="spacer"></span>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Search">
        </mat-form-field>
        <button mat-button matTooltip="Login" routerLink="/login">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-button matTooltip="ShoppingCart" routerLink="/shoppingCart" class="fa badge fa-lg"
            value={{getNumberOfItemes()}}>
            <mat-icon>shopping_cart</mat-icon>
        </button>

    </mat-toolbar>
</p>